<div class="loginPage">
  <div class="container">
    <div class="loginPage__contents">
      <h1 class="h4 loginPage__contents__title">新しいマッチを見つけよう</h1>
      <%= link_to "メールアドレスでログインする", new_user_session_path, class: "btn loginPage__contents__btn" %>
    </div>
  </div>
</div>
