<div class="sinupPage">
  <header class="header">
    <div>アカウントを作成</div>
  </header>
  <div class="container">
    <%= form_for(resource, as: resourse_name, url: registration_path(resource_name),html: {class:"mt-5"}) do |f| %>
      <%= devise_error_messages! %>
      <label for="file_photo" class="rounder-circle userProfileImg">
        <div class="userProfileImg__description">画像をアップロード</div>
        <i class="fas fa-camera fa-3x"></i>
        <%= f.file_field :img_name, id: "file_photo" %>
      </label>
  </div>
</div>
